<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>A Swift protocol file.</string>
	<key>Summary</key>
	<string>A Swift protocol file</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
		<string>com.apple.platform.macosx</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Class name:</string>
			<key>Description</key>
			<string>The name of the class</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>MyClass</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>AddImp</string>
			<key>Name</key>
			<string>Add implementation</string>
			<key>Description</key>
			<string>Add implementaiton of the protocol.</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>impType</string>
			<key>Name</key>
			<string>Implementation type</string>
			<key>Description</key>
			<string>Type of an implementation.</string>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>Class</string>
			<key>Values</key>
			<array>
				<string>Class</string>
				<string>Struct</string>
			</array>
			<key>NotPersisted</key>
			<true/>
			<key>RequiredOptions</key>
			<dict>
				<key>AddImp</key>
				<array>
					<string>true</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>impSuffix</string>
			<key>Name</key>
			<string>Implementation suffix:</string>
			<key>Description</key>
			<string>Suffix of an implementation name.</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>Imp</string>
			<key>NotPersisted</key>
			<true/>
			<key>RequiredOptions</key>
			<dict>
				<key>AddImp</key>
				<array>
					<string>true</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.swift</string>
	<key>SupportsSwiftPackage</key>
	<true/>
</dict>
</plist>
